<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head >
<meta charset="UTF-8">
<title th:text="${title}"></title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<section>
		<div class="customMargin container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<form th:action="@{/forgotPass}" method="post">
						<div class="card">
							<div class="card-header primaryBg text-center text-white">
								<h1>Forgot Password Form</h1>
							</div>
							<div th:if="${session.message}">
								<div class="alert" th:classappend="${session.message.type}">							
									<p th:text="${session.message.content}"></p>
								</div>
								<div th:text="${@removeMessage.removeVerificationMessageFromSession()}"></div>
								
							</div>
							<div class="card-body">
								<div class="form-group">
									<input required class="form-control" type="email"
										name="email" placeholder="Enter Your Registered Email" />
								</div>
							</div>
							<div class="card-footer primaryBg">
								<div class="form-group text-center">
									<button type="submit" class="btn btn-primary">Send OTP</button>
									<button type="reset" class="btn btn-warning">Reset</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>